
<header class="main-header fixed-top">

  <a href="#" class="logo nav-link" style="background-color: #23345a">
    <span class="logo-mini"><i><b>KB</b></i></span>
    <span class="logo-lg"><i><b>KUBAK</b></i></span>
  </a>

  <nav class="navbar bg-blue-gradient row">
    <a href="#" class="ml-3 my-0 mr-3 p-0 fa fa-2x fa-amazon text-white" data-toggle="push-menu" role="button"></a>
    <div class="col-lg-7 ml-3 d-none px-2 py-0 d-lg-flex justify-content-start border-0">
      <button class="btn btn-dark border-0 mr-2">add my product</button>
      <button class="btn btn-outline-dark border-0 mr-2 text-white">contact me </button>
      <button class="btn btn-outline-dark border-0 mr-2 text-white">collection </button>
    </div>

    <div class="dropdown d-flex d-lg-none btn m-0 p-0">
      <a href="#" class="nav-link dropdown-toggle p-0" data-toggle="dropdown">
        <span class="text-white mx-auto fa fa-2x fa-bars"></span>
      </a>
      <div class="dropdown-menu mt-1 col-4 p-1">
        <a href="#" class="dropdown-item ">add my product</a>
        <a href="#" class="dropdown-item pt-3">contact me </a>
        <a href="#" class="dropdown-item pt-3">collection </a>
      </div>
    </div>

    <div class="dropdown d-flex btn btn-facebook my-auto py-1 px-2 mr-5 ml-auto">
      <a href="#" class="dropdown-toggle" data-toggle="modal" data-target="#myModal">
        <span class="text-white">select your city</span>
      </a>
    </div>
  </nav>

</header>
