
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="active menu-open treeview">
        <a href="#"><i class="fa fa-home mr-3"></i><span>Home</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-car mr-3"></i><span>Cars</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-digg mr-3"></i><span>Digitals</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-hotel mr-3"></i><span>Extra</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-sellsy mr-3"></i><span>Services</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-user-secret mr-3"></i><span>Personal</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-edge mr-3"></i><span>Other</span></a>
      </li>
    </ul>
  </section>

  <section class="sidebar mt-3">
    <ul class="sidebar-menu">
      <li class="menu-open">
        <a href="#"><i class="mr-3"><b>KB</b></i><span class="btn btn-outline-warning border-0 text-white">Cafe Kubak</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-apple mr-3"></i><span class="btn btn-outline-primary border-0 text-white">App Store</span></a>
      </li>
    </ul>
  </section>
</aside>
