<body class="hold-transition skin-purple sidebar-mini">
  <div class="wrapper">
    <app-header></app-header>
  </div>
  <app-side-menu></app-side-menu>
  <app-main-view></app-main-view>

  <app-modal></app-modal>
</body>
