
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Your City</h4>
        <button type="button" class="close m-0 p-0" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          <div class="row p-2">
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              tehran</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              esfahan</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              shiraz</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              karaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>
            <span class="col-6 col-md-4 col-lg-3 p-2">
              <input type="checkbox" class="mr-2">
              sanandaj</span>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
