<div class="content-wrapper p-1 bg-gray-light mt-md-5" style="margin-top: 106px">
  <form class="form-control p-1 h-25" style="background-color: transparent">
    <input type="search" placeholder="search" class="col-12 col-sm-5 col-md-5 px-2 py-1 mr-2 mb-2 border rounded">
    <input type="search" placeholder="all" class="col-12 col-sm-5 col-md-3 px-2 py-1 mr-2 mb-2 border rounded">
    <input type="search" placeholder="city" class="col-12 col-sm-5 col-md-3 px-2 py-1 mr-2 mb-2 border rounded">

    <div class="row mt-4 col-12">
      <div class="custom-control mb-1 custom-switch justify-content-start bg-dark text-white p-0 rounded border">
        <input type="checkbox" class="custom-control-input" data-toggle="toggle">
<!--        <label class="custom-control-label" for="customSwitche1">filter 1</label>-->
        <span class="mx-auto px-3"><i>Filter1</i></span>
      </div>

      <div class="custom-control mb-1 custom-switch ml-2 ml-md-4 bg-dark text-white p-0 rounded border">
        <input type="checkbox" class="custom-control-input" data-toggle="toggle">
<!--        <label class="custom-control-label" for="customSwitche2">filter 2</label>-->
        <span class="mx-auto px-3"><i>Filter2</i></span>
      </div>
    </div>
    <button class="btn btn-danger fa fa-search mt-5 px-5 py-2 d-block col-12"><i>  Search</i></button>
  </form>

  <h4 class="my-3 mx-2">Products</h4>

    <div class="form-control col-12 mt-3 p-1 h-25 justify-content-end" style="background-color: transparent">

      <div class="col-3 d-inline-block border mr-2 mb-2">
        <img src="" alt="img" class="position-absolute my-2 mr-3" style="width: 100px;height: 100px">
        <p class="text-right p-2">name</p>
        <p class="text-right p-1">description</p>
      </div>

      <div class="col-3 d-inline-block border mr-2 mb-2">
        <img src="" alt="img" class="position-absolute my-2 mr-3" style="width: 100px;height: 100px">
        <p class="text-right p-2">name</p>
        <p class="text-right p-1">description</p>
      </div>

      <div class="col-3 d-inline-block border mr-2 mb-2">
        <img src="" alt="img" class="position-absolute my-2 mr-3" style="width: 100px;height: 100px">
        <p class="text-right p-2">name</p>
        <p class="text-right p-1">description</p>
      </div>
    </div>

</div>


